{% extends 'core/base_email.html' %} {% block main %} {% autoescape off %}
<table style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
    <tr>
        <td style="padding:0;">
            <p style="font-size: 18px; font-weight: 600; font-style: italic;">Hi {{user.username }}, thanks for using Interconnex. This is the code for resetting your password !</p>
            <p style="font-size: 24px;">Code: <span style="text-decoration: underline; font-weight: bold;">{{code}}</span></p>
        </td>
    </tr>
</table>
{% endautoescape %} {%endblock main %}