<?xml version="1.0" encoding="utf-8"?>
<html>
<head><meta charset="utf-8"/>
<style type="text/css"> 
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}

h2 {display: block;text-align:center;font-family: 'Trebuchet MS',sans-serif; }
.ent{display: flex;}
</style>

</head>

<body>
<div class = "ent">
<img src="/home/kijariel/Documents/nyatch-taf/ccaa.png" alt="CCAA" style="width:10%">
<h2> FORMULAIRE DE DEMANDE DE PUBLICATION DE DONNEES <br>
          AERONAUTIQUES – NOTAM <h2>
</div>
<h4 style:font-family = "'Trebuchet MS',sans-serif;">CMR.ANS.FORM.600<h4><br>

<table class="tg" style="undefined;table-layout: fixed; width: 1035px">
<colgroup>
<col style="width: 35px">
<col style="width: 255px">
<col style="width: 211px">
<col style="width: 180px">
<col style="width: 354px">
</colgroup>
<thead>
  <tr>
    <th class="tg-0pky"><span style="font-weight:bold">No</span></th>
    <th class="tg-0pky"><span style="font-weight:bold">ELEMENTS</span><br></th>
    <th class="tg-c3ow" colspan="3"><span style="font-weight:bold">DESCRIPTIONS ET VALEURS</span><br></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-fymr">1</td>
    <td class="tg-0pky"><span style="font-weight:bold">Date et heure de dépôt (UTC)</span></td>
    <td class="tg-0pky" colspan="3">{{json_data.deposit_datetime}}<br></td>
  </tr>
  <tr>
    <td class="tg-fymr">2</td>
    <td class="tg-0pky"><span style="font-weight:bold">Informateur Local/ Indicateur</span><br><span style="font-weight:bold">d’emplacement de l’aérodrome</span></td>
    <td class="tg-0pky" colspan="3">{{json_data.location_indicator}}</td>
  </tr>
  <tr>
    <td class="tg-fymr" rowspan="5"><br><br><br><br><br><br>3<br><br><br><br><br></td>
    <td class="tg-fymr" rowspan="5"><br><br><br><br>Unité ou structure source de la donnée</td>
    <td class="tg-0pky"><span style="font-weight:bold">Nom &amp; Adresse</span></td>
    <td class="tg-0pky">{{json_data.unit.name}}</td>
    <td class="tg-0pky">{{json_data.unit.address}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Tél &amp; Fax</span></td>
    <td class="tg-0pky">{{json_data.unit.phone_number}}</td>
    <td class="tg-0pky">{{json_data.unit.fax}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">E-mail</span></td>
    <td class="tg-0pky" colspan="2">{{json_data.unit.email}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">RSFTA</span></td>
    <td class="tg-0pky" colspan="2">{{json_data.unit.rsfta}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Nom, Qualité et/ou</span><br><span style="font-weight:bold">fonction dudépositaire</span></td>
    <td class="tg-0pky" colspan="2">{{json_data.unit.id}}</td>
  </tr>
  <tr>
    <td class="tg-fymr">4</td>
    <td class="tg-0pky"><span style="font-weight:bold">Type de</span><br><span style="font-weight:bold">NOTAM</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">NOTAM N</span><br><br>{{json_data.type_notam}}<br><br>{{json_data.code_notam_replaceorcancel}}<br><br><br>(Contenant de nouveaux renseignements)</td>
    <td class="tg-0pky"><span style="font-weight:bold">NOTAM R</span><br><br>{{json_data.type_notam}}<br><br><br>{{json_data.code_notam_replaceorcancel}}<br><br>(Remplaçant un NOTAM antérieur)</td>
    <td class="tg-0pky"><span style="font-weight:bold">NOTAM C</span><br><br>{{json_data.type_notam}}<br><br>{{json_data.code_notam_replaceorcancel}}<br><br><br>(Annulant un NOTAM antérieur)</td>
  </tr>
  <tr>
    <td class="tg-fymr" rowspan="2"><br>5</td>
    <td class="tg-0pky"><span style="font-weight:bold">Coordonnées géographiques de la zone concernée</span><br></td>
    <td class="tg-0pky" colspan="3">{{json_data.coords}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Rayon d’action de la</span><br><span style="font-weight:bold">zone concernée</span></td>
    <td class="tg-0pky" colspan="3">{{json_data.range_action}}</td>
  </tr>
  <tr>
    <td class="tg-fymr" rowspan="2"><br>6</td>
    <td class="tg-0pky" rowspan="2"><br><br><span style="font-weight:bold">Période de validité</span><br></td>
    <td class="tg-0pky"><span style="font-weight:bold">Période de Début</span><br></td>
    <td class="tg-0pky" colspan="2">Du {{json_data.start_val_period}} (JJ/MM/AAAA) ( HH/MIN) UTC<br></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Période de fin</span><br></td>
    <td class="tg-0pky" colspan="2">Au {{json_data.end_val_period}} (JJ/MM/AAAA) ( HH/MIN) UTC</td>
  </tr>
  <tr>
    <td class="tg-fymr">7</td>
    <td class="tg-0pky"><span style="font-weight:bold">Fréquence journalière (si</span><br><span style="font-weight:bold">necessaire)</span></td>
    <td class="tg-0pky" colspan="2">De {{json_data.daily_freq_start}} (HH/MIN)<br></td>
    <td class="tg-0pky">à {{json_data.daily_freq_end}} (HH/MIN) UTC</td>
  </tr>
  <tr>
    <td class="tg-fymr" rowspan="4"><br><br><br><br><br>8<br><br><br><br><br></td>
    <td class="tg-0pky" rowspan="4"><br><br><br><br><span style="font-weight:bold">Texte du NOTAM (Description de l’opération et de l’information à diffuser</span>)</td>
    <td class="tg-0pky" colspan="3" rowspan="4">{{json_data.descriptive_text}}</td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-fymr">9</td>
    <td class="tg-0pky"><span style="font-weight:bold">Limites verticales en</span><br><span style="font-weight:bold">altitude ou FL (sinécessaire)</span></td>
    <td class="tg-0pky" colspan="2">Limite Inférieure<br><br>{{json_data.lower_vertical_limit}}<br></td>
    <td class="tg-0pky">Limite supérieure<br><br>{{json_data.upper_vertical_limit}}<br></td>
  </tr>
</tbody>
</table>
</body>

</html>